@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root {
    --primary-color: #fff;
    --text-btn-primary: #242424;
    --bg--wide: #f00946;
    --blue: #267afb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-top: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}